nav{
    display: flex;
    align-items: center;
    width: 70%;
}

.i_nav{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    justify-items: auto;
    margin-top: 5px;
}
.i_nav .haut{
    display: flex;
    flex-direction: row;
    align-items: center;
}
input{
    width: 300px;
    display: flex;
    margin-left: 10px;
    height: 30px;
    margin-top: 10px;
}

.logo{
    width: auto;
    height: 70px;
    margin: 2%;
}

.parametre{
    width: 200px;
    display: flex;
    position: relative;
    margin-left: 10%;
    margin-top: 1rem;
}


#log{
    position: relative;
    display: inline-block;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    
}

#singn{
    position: relative;
    color: bisque;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #6088d7;
}